header {
    .typography {
        padding-right: 10px;
        user-select: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .left {
            display: flex;
        }
    }
}
