.login {
    $width: 304px;

    // margin: 10px 0 0 10px;
    margin: 0 auto;
    max-width: $width;

    form {
        display: flex;
        flex-direction: column;

        .form-item {
            margin-bottom: 15px;
        }
    }

    .g-signin {
        width: $width;
    }
}
