.container {
    margin: 10px 0 0 10px;
    overflow: auto;
}

.interaction {
    display: flex;
    flex-direction: row;

    .choose-row-col {
        max-width: 120px;
    }

    Button {
        margin-left: 20px;
    }

    .choose-metric {
        margin-left: 10px;
        min-width: 100px;
    }
}

.canvas-container {
    margin-top: 20px;

    canvas {
        border: white solid 1px;
    }
}
